<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body>
<p th:text="${'Xin chào bạn, ' + name }"></p>
<p th:text="${'Cảm ơn bạn đã mua sản phẩm của chúng tôi: '}"></p>
<p th:text="${'Dưới đây là những sản phẩm của bạn' + listProduct}"></p>
<p th:text="${link}"></p>
<p th:text="${'Ngày mua hàng' + date}"></p>
<p th:text="${'Đây là mail tự động vui lòng không trả lời lại'}"></p>

</body>
</html>